.header-index {
  display: flex;
  justify-content: center;
  height: 200px;
  border-bottom: solid 3px black;
}
.header-index__logo {
  max-width: 100%;
  max-height: 100%;
}

.header-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 3px black;
}
.header-home img {
  max-width: 100%;
}
.header-home nav {
  margin-top: 20px;
  height: 50px;
}
@media (max-width: 449px) {
  .header-home nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
  }
  .header-home nav a {
    margin-bottom: 10px;
  }
}

footer {
  display: flex;
  justify-content: center;
  border-top: solid 3px black;
  padding-top: 50px;
}

.main-form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.main-form form {
  background-color: #ffd7d7;
  padding: 10px;
  width: 300px;
}
.main-form fieldset {
  padding: 0 20px 20px 20px;
  margin-bottom: 10px;
  border: 1px solid #fd2d01;
  display: flex;
  flex-direction: column;
}
.main-form legend {
  color: #fd2d01;
  font-weight: bold;
}
.main-form label {
  margin-top: 10px;
  margin-bottom: 5px;
  display: block;
}
.main-form input {
  padding: 3px;
  border: 1px solid #fd2d01;
  border-radius: 5px;
  width: 200px;
  box-shadow: 1px 1px 2px #ffd7d7 inset;
}
.main-form #Button-login {
  width: 100px;
  margin-left: 5px;
  box-shadow: 1px 1px 1px #fd2d01;
}
.main-form .change-choice {
  margin-left: 55px;
  padding: 5px;
  border: 1px solid #fd2d01;
  box-shadow: 1px 1px 1px #fd2d01;
  border-radius: 5px;
  color: black;
  background-color: white;
  text-decoration: none;
}
.main-form #file {
  width: 250px;
}

.link {
  color: black;
  text-decoration: none;
  margin: auto;
  background-color: #ffd7d7;
  border-radius: 50% 20%/10% 40%;
  padding: 13px;
}

.nav-index {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.nav-index a {
  display: flex;
  justify-content: space-between;
}

.main-profil {
  background-image: url("../assetts/icon.png");
  background-size: cover;
  background-position: center;
  padding: 50px;
}
.main-profil h1, .main-profil h2 {
  text-align: center;
  color: #0D7D69;
}
.main-profil #name {
  font-size: larger;
  font-weight: bold;
}
.main-profil input {
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid #0D7D69;
  box-shadow: 1px 1px 1px #0D7D69;
  border-radius: 5px;
  color: black;
  font-size: large;
  background-color: white;
  text-decoration: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 500px) {
  .main-profil div, .main-profil p {
    text-align: center;
  }
}

.main-home {
  margin: auto;
}
.main-home h1 {
  text-align: center;
}
.main-home .wall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.main-home .wall a {
  text-decoration: none;
  color: black;
}
.main-home .wall__message {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 90%;
  border: solid #ffd7d7 4px;
  border-radius: 25px;
  padding: 10px;
}
@media (max-width: 499px) {
  .main-home .wall__message {
    flex-direction: column;
    align-items: center;
  }
}
.main-home .wall__message--content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}
@media (max-width: 499px) {
  .main-home .wall__message--content {
    width: 100%;
  }
}
.main-home .wall__message--content h2 {
  text-align: center;
  margin: auto;
}
.main-home .wall__message--content p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.main-home .wall__message--content span {
  font-size: small;
  font-style: italic;
}
.main-home .wall__message--addCom {
  width: 150px;
  background-color: #ffd7d7;
  border: solid #c96161;
  border-radius: 5px;
  margin: 12px;
  padding: 5px;
}
.main-home .wall__message img {
  width: 35%;
  height: 100%;
  border: solid #ffd7d7 4px;
  border-radius: 25px;
}
@media (max-width: 499px) {
  .main-home .wall__message img {
    width: 30%;
  }
}

.main-message {
  display: flex;
  flex-direction: column;
}
.main-message h1 {
  text-align: center;
}
.main-message .message {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 90%;
  border: solid #ffd7d7 4px;
  border-radius: 25px;
  padding: 10px;
  margin-top: 20px;
}
.main-message .message--content {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.main-message .message--content h2 {
  text-align: center;
}
.main-message .message img {
  width: 35%;
  height: 100%;
  border: solid #ffd7d7 4px;
  border-radius: 25px;
}
.main-message .btnDelete {
  margin: auto;
  padding: 5px;
  border: 1px solid #0D7D69;
  box-shadow: 1px 1px 1px #0D7D69;
  border-radius: 5px;
  color: black;
  font-size: large;
  background-color: white;
  text-decoration: none;
}
.main-message .allComments {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}
.main-message .allComments .oneComment {
  width: 80%;
  display: flex;
  flex-direction: column;
  border: solid #c96161;
  border-radius: 10px;
  align-items: center;
  background-color: #ffd7d7;
  padding: 10px;
  margin-bottom: 15px;
}
.main-message .allComments .oneComment span {
  font-size: medium;
  font-style: italic;
}
.main-message .allComments form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
}
.main-message .allComments form textarea {
  margin-top: 10px;
  margin-bottom: 10px;
}
.main-message .allComments form input {
  margin: auto;
  background-color: #ffd7d7;
  border-color: #c96161;
}

.main-comment {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-comment button {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
  background-color: #ffd7d7;
  border-color: #c96161;
}

/*# sourceMappingURL=style.css.map */
