.main-home{
    margin: auto;
    & h1{
        text-align: center;
    }
    & .wall{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        & a{
            text-decoration: none;
            color: black;
        };
        &__message{
            display: flex;
            justify-content: space-between;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 15px;
            width: 90%;
            border: solid $color-logo 4px;
            border-radius: 25px;
            padding: 10px;
            &--content{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 60%;
                & h2{
                    text-align: center;
                    margin: auto;
                };
            };
            &--addCom{
                width: 85px;
                background-color: $color-logo;
                border-radius: 5px;
            };
            & img{
                width: 35%;
                height: 100%;
                border: solid $color-logo 4px;
                border-radius: 25px;
            };
        };
    };
};