.main-message{
    display: flex;
    flex-direction: column;
    & h1{
        text-align: center;
    };
    & .message{
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        width: 90%;
        border: solid $color-logo 4px;
        border-radius: 25px;
        padding: 10px;
        margin-top: 20px;
        &--content{
            display: flex;
            flex-direction: column;
            width: 60%;
            & h2{
                text-align: center;
            };
        };
        & img{
            width: 35%;
            height: 100%;
            border: solid $color-logo 4px;
            border-radius: 25px;
        };
    };
    & .btnDelete{
        margin: auto;
        padding: 5px;
        border: 1px solid #0D7D69;
        box-shadow: 1px 1px 1px #0D7D69;
        border-radius: 5px;
        color: black;
        font-size: large;
        background-color: white;
        text-decoration: none;
    };
};