.main-profil{
    background-image: url("../assetts/icon.png");
    background-size: cover;
    background-position: center;
    padding: 50px;
    & h1, h2{
        text-align: center;
        color: #0D7D69;
    };
    & #name{
        font-size: larger;
        font-weight: bold;
    };
    & #delete{
        margin-bottom: 20px;
        padding: 5px;
        border: 1px solid #0D7D69;
        box-shadow: 1px 1px 1px #0D7D69;
        border-radius: 5px;
        color: black;
        font-size: large;
        background-color: white;
        text-decoration: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    };
    @media (min-width: 500px){
        & div, p{
            text-align: center;
        }
    }
    & .section-password{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        & label{
            font-weight: bold;
            font-size: large;
            color: #0D7D69;
            margin: 10px;
        }
        & #btnModifyPassword{
            margin-top: 10px;
            padding: 5px;
            border: 1px solid #0D7D69;
            box-shadow: 1px 1px 1px #0D7D69;
            border-radius: 5px;
        }
    }
};